
<div class="body">
    <div class="uno">
        <p>Sigic</p>
        <p> Sistema Integral de Gestion de Inventario y Costos Sigic</p>

    <div class="login-box">
        <img src="/assets/logo quicknet.jpg" class="avatar" alt="Avatar Image">
   
        <form>
          <!-- USERNAME INPUT -->
          <label for="username">Usuario</label>
          <input type="text" placeholder="Enter Usuario">
          <!-- PASSWORD INPUT -->
          <label for="password">Clave</label>
          <input type="password" placeholder="Ingresar clave">
          <input type="submit" value="Ingresar">
          <a href="#">Cambio de clave.</a><br>
        
        </form>
      </div>
    </div>
</div>

<div class="Como usar la propiedad background-size">
<div class="caja</DIV>

</div>
</div>

